.move-free {
  @include on-tablet {
    display: flex;
    > * {
      flex: 1;
    }
  }

  &__title {
    margin-bottom: 32px;
  }

  &__content {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
  }
}
