.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: $menu-item-color;
    text-decoration: none;

    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 2px;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: $menu-item-color;
      display: block;
      width: 100%;

      transform: scale(0);
      transition: transform $animation-time;
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
